{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">All
            <small>TV Shows</small>
        </h1>

        <!-- Series -->
        <div class="row">
            {% for series in all_series %}
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="{{ series.image_path }}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <h4 class="series-title" onclick="seasonsCollapse('{{ series.pk }}seasons')">{{ series.name }}</h4>
                            </h4>

                            <ul id="{{ series.pk }}seasons" class="seasons">
                                {% for seasons in all_seasons %}
                                    {% if seasons.series == series %}
                                        <li>Season: {{ seasons.order }} - episodes: {{ seasons.total_episodes }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            <p>Rating: {{ series.rating }}</p>
                            <p class="card-text">{{ series.description }}</p>

                            <!-- Check if user is logged in -->
                            {% if user.is_authenticated %}
                                <!-- Check if user already has the series on their list -->
{#                                {% if  %}#}
                                    <button class="btn btn-success">Add to List</button>
{#                                {% endif %}#}
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <!--suppress XmlDefaultAttributeValue -->
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <!--suppress XmlDefaultAttributeValue -->
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>

    </div>

    <script>
        function seasonsCollapse(id) {
            $('#' + id).toggle('swing');
        }
    </script>

{% endblock %}